#root{
  min-height: 100%;
  position: relative;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {  
  padding-top:35px;
  padding-bottom: 70px;
}

body {
  background-color: #000000;
  background-image: url(./images/BGPlanet2.jpg); 
  background-repeat: no-repeat;
  background-position: top center;
  font-family: Helvetica;
}


// All buttons

button {
  background-color: #6A522E;
  border-style: solid;
  border-width: 3px;
  border-color: #7D6034 #7D6034 #4D3D23 #4D3D23;
  color: #E4E0D4;
  font-size: medium;
  padding: 3px 15px 3px 15px;
}

button:hover {
  background-color: #886432;
  border-color: #967136 #967136 #664B25 #664B25;
}

button:active {
  background-color: #624927;
  border-color: #584223 #584223 #6D5636 #6D5636;
}


// Navigation bar

:root {
  --navbar-height: 35px;
  --navbar-img-size: 25px;
}

.NavigationBar{
  position: fixed;
  top: 0;
  //background-color: #6F6F6F;
  height: var(--navbar-height);
  max-height: var(--navbar-height);
  padding-bottom: 1px;
  width: 100%;
  display: table;
  table-layout: fixed
}

.NavigationBar a{
  max-height: var(--navbar-height);
  height: 100%;
  display: table-cell;
}

.NavigationBar img{ //TODO
  position: absolute;
  margin:auto;  
  height: 100%;
}

.NavigationBar button{
  margin-top: -1px;
  height: 100%;
  max-height: var(--navbar-height);
  width: 100%;
  border-style: solid;
  border-width: 1px 1px 2px 1px;
  border-color: #6F6F6F;
  background-image: url(./images/button1.png); 
  background-size: cover;
  color: #E2E3E5;
  font-family: Helvetica;
  text-align: center;
}

.NavigationBar button:hover {
  background-image: url(./images/button1hover.png); 
  border-color: #214E64;
}

.NavigationBar .Selected, .NavigationBar .Selected:hover {
  background-image: url(./images/button1selected.png); 
  border-color: #5E6E78;
}


// Page elements

.Page{
  margin-top: 60px;
  margin-left: 320px;
  margin-right: 320px;
  padding: 30px 15px 30px 15px;
  background-color: #1C2127;
  border-style: solid;
  border-width: 1px;
  border-color: #A1A4A9;
  color: #CFD0D4;
}

.LoginPage{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.Footer{
  color: #B3D7E3;
  position: absolute;
  height: 30px;
  bottom: 0;
  width: 100%;
  padding-bottom: 24px;
  text-align: center;
}

.LoadingScreen {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

hr {
  border-top-color: #4D4D4D;
  border-top-width: 1px;
}


// Inputs

input {
  background-color: #0A0C0E;
  font-size: medium;
  color: #CCCCCC;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #A1A4A9;
}


// Through the tables and memes

.TableTitle {
  width: 100%;
  height: 30px;
  position: relative;
}

.TableTitle input {
  width: 120px;
}

.TableTitle h2 {
  margin: 0;
}

.TableTitle div:first-child {
  position: absolute;
  top: 0;
}

.TableTitle div:last-child{
  position: absolute;
  right: 0;  
  bottom: 0;
}

table {
  width: 100%;
  //table-layout:fixed;
}

table .btn-group {  
  white-space: nowrap;
}

table .btn-group {
  
}

table td, table th {
  padding: 1px 10px 1px 10px;
  text-align: left;
}

table th {
  padding-bottom: 15px;
}

td.Shrink, th.Shrink {
  width: 1px;
  white-space: nowrap;  
}

.Overflow{
  white-space:pre-wrap;
}