
body{
  margin: 0;
  padding: 0;
  background-color: #000000;
  background-image: url(./images/BGPlanet2.jpg); 
  background-repeat: no-repeat;
  background-position: top center;
  font-family: Helvetica;
}

button{
  background-color: #6A522E;
  border-style: solid;
  border-color: #7D6034 #7D6034 #4D3D23 #4D3D23;
  color: #E4E0D4;
}

.NavigationBar{
  background-color: #84878C;
  height: 35px;
  padding: 1px;
  width: 100%;
  display: table;
  table-layout: fixed
}

.NavigationBar a{
  height: 100%;
  display: table-cell;
  border-style: solid;
  border-width: 0 1px 0 1px;
  border-color: #84878C;
}

.NavigationBar button{
  margin-top: -1px;
  height: 100%;
  width: 100%;
  border-style: solid;
  border-width: 3px;
  border-color: #5D6A72 #5D6A72 #142628 #142628;
  background-image: url(./images/button1.png); 
  color: #E2E3E5;
  font-family: Helvetica;
}

.Page{
  margin-top: 50px;
  margin-left: 320px;
  margin-right: 320px;
  padding: 30px;
  background-color: #1C2127;
  border-style: solid;
  border-width: 1px;
  border-color: #A1A4A9;
  color: #CFD0D4;
}
